configuration {
    show-icons: true;
    display-dmenu: "";
    disable-history: true;
    kb-element-next: "Tab";
    kb-element-prev: "ISO_Left_Tab";
    kb-row-tab: "";
    kb-row-rtab: "";
    hover-select: true;
    me-select-entry: "MouseSecondary";
    me-accept-entry: "MousePrimary";
}

@import "colors.rasi"

* {
    bg: @rofi-bg;
    bg-selected: @rofi-hover;
    fg: @rofi-fg;
    fg-dim: @rofi-fg-dim;
    radius: 18px;
    font: "SF Pro Display, Semi-Bold 10";
}

window {
    transparency: "real";
    background-color: @bg;
    border: 0px;
    border-radius: @radius;
    padding: 12px;
    location: center;
    anchor: center;
    width: 800px;
}

mainbox {
    children: [listview];
    background-color: transparent;
}

inputbar {
    enabled: false;
}

listview {
    columns: 10;
    lines: 1;
    flow: horizontal;
    fixed-columns: false;
    spacing: 8px;
    background-color: transparent;
    scrollbar: false;
}

element {
    orientation: vertical;
    padding: 12px 16px;
    border-radius: 14px;
    background-color: transparent;
    text-color: @fg-dim;
    cursor: pointer;
}

element selected.normal {
    background-color: @rofi-accent;
}

element-icon {
    size: 64px;
    horizontal-align: 0.5;
    background-color: inherit;
    cursor: inherit;
}

element-text {
    horizontal-align: 0.5;
    background-color: inherit;
    text-color: inherit;
    font: "SF Pro Display, Semi-Bold 9";
    cursor: inherit;
}
